<div class="m-1">
    <!-- NAME, ALIGNMENT AND LEVEL -->
    <form class="mt-3 d-flex justify-content-between">
        <div>
            <div class="input-group">
                <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
                <input type="text" class="form-control" aria-label="Name" aria-describedby="inputGroup-sizing-default" (change)="handleNameUpdate($event)">
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div ngbDropdown class="d-inline-block">
                <button type="button" class="btn btn-outline-primary" id="dropdownAlignment" ngbDropdownToggle>
                    {{ npcRepo.$alignment | async }}
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownAlignment">
                    @for (alignment of alignments; track $index) {
                        <button type="button" (click)="handleAlignmentUpdate($event)" ngbDropdownItem [value]="alignment">{{ alignment }}</button>
                    }
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div ngbDropdown class="d-inline-block">
                <button type="button" class="btn btn-outline-primary" id="dropdownLevel" ngbDropdownToggle>
                    Level {{ npcRepo.$level | async }}
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownLevel">
                    @for (levelNumber of levelNumbers; track $index) {
                        <button type="button" (click)="handleLevelUpdate(levelNumber)" ngbDropdownItem>Level {{ levelNumber }}</button>
                    }
                </div>
            </div>
        </div>
    </form>
    <div class="mt-4">
        <div class="d-flex justify-content-around">
            <div class="col">
                <p class="text-center fw-bold fs-5 text-white">Availible NPC Creation Points: {{ npcRepo.$availibleNpcCreationPoints | async }}</p>
            </div>
            <div class="col">
                <p class="text-center fw-bold fs-5" 
                    [ngClass]="{'text-bg-danger' : npcCreationPointsExceeded() | async, 'text-bg-success' : !(npcCreationPointsExceeded() | async)}" >
                    Used NPC Creation Points: {{ npcRepo.$usedNpcCreationPoints | async }}
                </p>
            </div>
        </div>
    </div>
    <hr>
    <div class="mt-3 d-flex justify-content-around">
        <div class="d-flex align-items-center">
            <h5 class="me-3">Archetype</h5>
            <div ngbDropdown class="d-inline-block">
                <button type="button" class="btn btn-outline-primary" id="dropdownArchetype" ngbDropdownToggle>
                    {{ selectedArcheType }}
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownArchetype">
                    @for (archType of archTypes; track $index) {
                        <button type="button" (click)="handleArcheTypeUpdate($event)" ngbDropdownItem [value]="archType">{{ archType }}</button>
                    }
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center">
            <h5 class="me-3">Type</h5>
            <div ngbDropdown class="d-inline-block">
                <button type="button" class="btn btn-outline-primary" id="dropdownCreatureType" ngbDropdownToggle>
                    {{ npcRepo.$creatureType | async }}
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownCreatureType">
                    @for (creatureType of creatureTypes; track $index) {
                        <button type="button" (click)="npcRepo.updateCreatureType(creatureType)" ngbDropdownItem>{{ creatureType.name + ' (' + creatureType.pointsCost + ')' }}</button>
                    }
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center">
            <h5 class="me-3">Type</h5>
            <div ngbDropdown class="d-inline-block">
                <button type="button" class="btn btn-outline-primary" id="dropdownCreatureSubType" ngbDropdownToggle>
                    {{ npcRepo.$creatureSubType | async }}
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownCreatureSubType">
                    @for (subType of (npcRepo.$avilibleSubTypes | async); track $index) {
                        <button type="button" (click)="npcRepo.updateCreatureSubType(subType)" ngbDropdownItem>{{ subType.name + ' (' + subType.pointsCost + ')' }}</button>
                    }
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center">
            <h5 class="me-3">Size</h5>
            <div ngbDropdown class="d-inline-block">
                <button type="button" class="btn btn-outline-primary" id="dropdownCreatureSize" ngbDropdownToggle>
                    {{ npcRepo.$creatureSize | async }}
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownCreatureSize">
                    @for (creatureSize of creatureSizes; track $index) {
                        <button type="button" (click)="npcRepo.updateCreatureSize(creatureSize)" ngbDropdownItem>{{ creatureSize.name + ' (' + creatureSize.pointsCost + ')' }}</button>
                    }
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="mt-3 d-flex justify-content-around">
        <div class="d-flex align-items-center">
            <h5 class="me-3">Primary Attribute Boost</h5>
            <div ngbDropdown class="d-inline-block">
                <button type="button" class="btn btn-outline-primary" id="dropdownPrimaryAttrBoost" ngbDropdownToggle>
                    {{ npcRepo.$primaryAttributeBoost | async }}
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownPrimaryAttrBoost">
                    @for (attr of attributes; track $index) {
                        <button type="button" (click)="npcRepo.updatePrimaryAttributeBoost(attr)" ngbDropdownItem>{{ attr }}</button>
                    }
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center">
            <h5 class="me-3">Secondary Attribute Boost</h5>
            <div ngbDropdown class="d-inline-block">
                <button type="button" class="btn btn-outline-primary" id="dropdownSecondaryAttrBoost" ngbDropdownToggle>
                    {{ npcRepo.$secondaryAttributeBoost | async }}
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownSecondaryAttrBoost">
                    @for (attr of attributes; track $index) {
                        <button type="button" (click)="npcRepo.updateSecondaryAttributeBoost(attr)" ngbDropdownItem>{{ attr }}</button>
                    }
                </div>
            </div>
        </div>
        @if ((npcRepo.$primaryAttributeBoost | async) === (npcRepo.$secondaryAttributeBoost | async)) {
            <div class="text-bg-danger ">
                <h5>Attribute Boosts must not match!</h5>
            </div>
        }
    </div>
    <hr>
    <div class="d-flex flex-column">
        <h5 class="mb-3 text-center">Traits</h5>
        <div class="mt d-flex justify-content-around">
            <div ngbDropdown class="d-inline-block">
                <button type="button" class="btn btn-outline-primary" id="dropdownDefensiveTraits" ngbDropdownToggle>Defensive Traits</button>
                <div ngbDropdownMenu aria-labelledby="dropdownDefensiveTraits">
                    <div class="d-flex justify-content-center flex-column mx-2">
                        @for (trait of traits.defensiveTraits; track $index) {
                            <input type="checkbox" class="btn-check" [id]="'btncheck' + trait.name" autocomplete="off" (change)="handleTraitCheckBoxUpdate($event, trait)">
                            <label class="btn btn-outline-primary my-1" [for]="'btncheck' + trait.name">{{ trait.name + ' (' + trait.pointsCost + ')' }}</label>
                        }
                    </div>
                </div>
            </div>
            <div ngbDropdown class="d-inline-block">
                <button type="button" class="btn btn-outline-primary" id="dropdownMovementTraits" ngbDropdownToggle>Movement Traits</button>
                <div ngbDropdownMenu aria-labelledby="dropdownMovementTraits">
                    <div class="d-flex justify-content-center flex-column mx-2">
                        @for (trait of traits.movementTraits; track $index) {
                            <input type="checkbox" class="btn-check" [id]="'btncheck' + trait.name" autocomplete="off" (change)="handleTraitCheckBoxUpdate($event, trait)">
                            <label class="btn btn-outline-primary my-1" [for]="'btncheck' + trait.name">{{ trait.name + ' (' + trait.pointsCost + ')' }}</label>
                        }
                    </div>
                </div>
            </div>
            <div ngbDropdown class="d-inline-block">
                <button type="button" class="btn btn-outline-primary" id="dropdownWargerTraits" ngbDropdownToggle>Wargear Traits</button>
                <div ngbDropdownMenu aria-labelledby="dropdownWargerTraits">
                    <div class="d-flex justify-content-center flex-column mx-2">
                        @for (trait of traits.wargearTraits; track $index) {
                            <input type="checkbox" class="btn-check" [id]="'btncheck' + trait.name" autocomplete="off" (change)="handleTraitCheckBoxUpdate($event, trait)">
                            <label class="btn btn-outline-primary my-1" [for]="'btncheck' + trait.name">{{ trait.name + ' (' + trait.pointsCost + ')' }}</label>
                        }
                    </div>
                </div>
            </div>
            <div ngbDropdown class="d-inline-block">
                <button type="button" class="btn btn-outline-primary" id="dropdownOtherTraits" ngbDropdownToggle>Other Traits</button>
                <div ngbDropdownMenu aria-labelledby="dropdownOtherTraits">
                    <div class="d-flex justify-content-center flex-column mx-2">
                        @for (trait of traits.otherTraits; track $index) {
                            <input type="checkbox" class="btn-check" [id]="'btncheck' + trait.name" autocomplete="off" (change)="handleTraitCheckBoxUpdate($event, trait)">
                            <label class="btn btn-outline-primary my-1" [for]="'btncheck' + trait.name">{{ trait.name + ' (' + trait.pointsCost + ')' }}</label>
                        }
                    </div>
                </div>
            </div>
            <div ngbDropdown class="d-inline-block">
                <button type="button" class="btn btn-outline-primary" id="dropdownCreatureTypeTraits" ngbDropdownToggle>Creature Type Traits</button>
                <div ngbDropdownMenu aria-labelledby="dropdownCreatureTypeTraits">
                    <div class="d-flex justify-content-center flex-column mx-2">
                        @for (trait of traits.creatureTypeTraits; track $index) {
                            <input type="checkbox" class="btn-check" [id]="'btncheck' + trait.name" autocomplete="off" (change)="handleTraitCheckBoxUpdate($event, trait)">
                            <label class="btn btn-outline-primary my-1" [for]="'btncheck' + trait.name">{{ trait.name + ' (' + trait.pointsCost + ')' }}</label>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="d-flex flex-column">
        <h5 class="mb-3 text-center">Pre-defined Abilities</h5>
        <div class="d-flex justify-content-around">
            <div ngbDropdown class="d-inline-block">
                <button type="button" class="btn btn-outline-primary" id="dropdownMovementAbilities" ngbDropdownToggle>Movement Abilities</button>
                <div ngbDropdownMenu aria-labelledby="dropdownMovementAbilities">
                    <div class="d-flex justify-content-center flex-column mx-2">
                        @for (ability of abilities.movementAbilities; track $index) {
                            <input type="checkbox" class="btn-check" [id]="'btncheck' + ability.name" autocomplete="off" (change)="handleAbilityCheckBoxUpdate($event, ability)">
                            <label class="btn btn-outline-primary my-1" [for]="'btncheck' + ability.name">{{ ability.name + ' (' + ability.pointsCost + ')' }}</label>
                        }
                    </div>
                </div>
            </div>
            <div ngbDropdown class="d-inline-block">
                <button type="button" class="btn btn-outline-primary" id="dropdownOtherAbilities" ngbDropdownToggle>Other Abilities</button>
                <div ngbDropdownMenu aria-labelledby="dropdownOtherAbilities">
                    <div class="d-flex justify-content-center flex-column mx-2">
                        @for (ability of abilities.otherAbilities; track $index) {
                            <input type="checkbox" class="btn-check" [id]="'btncheck' + ability.name" autocomplete="off" (change)="handleAbilityCheckBoxUpdate($event, ability)">
                            <label class="btn btn-outline-primary my-1" [for]="'btncheck' + ability.name">{{ ability.name + ' (' + ability.pointsCost + ')' }}</label>
                        }
                    </div>
                </div>
            </div>
            <div ngbDropdown class="d-inline-block">
                <button type="button" class="btn btn-outline-primary" id="dropdownReactionAbilities" ngbDropdownToggle>Reaction Abilities</button>
                <div ngbDropdownMenu aria-labelledby="dropdownReactionAbilities">
                    <div class="d-flex justify-content-center flex-column mx-2">
                        @for (reaction of abilities.reactionAbilities; track $index) {
                            <input type="checkbox" class="btn-check" [id]="'btncheck' + reaction.name" autocomplete="off" (change)="handleReactionCheckBoxUpdate($event, reaction)">
                            <label class="btn btn-outline-primary my-1" [for]="'btncheck' + reaction.name">{{ reaction.name + ' (' + reaction.pointsCost + ')' }}</label>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="d-flex flex-column">
        <h5 class="mb-3 text-center">Custom Abilities</h5>
        <table class="table">
            <thead>
                <tr>
                    <th>Ability</th>
                    <th>Cost</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="table-striped">
                @for (customAbility of npcRepo.$customAbilities | async; track $index) {
                    <tr>
                        <td><span class="fw-bold">{{ customAbility.name }} ({{ customAbility.pointsCost }})</span></td>
                        <td>{{ customAbility.apCost }} [AP]</td>
                        <td>{{ customAbility.description }}</td>
                        <td><button type="button" class="btn btn-outline-danger" (click)="npcRepo.removeCustomAbility(customAbility)">Delete</button></td>
                    </tr>
                }
            </tbody>
        </table>
        <hr>
        <app-custom-ability (abilityChange)="currentCustomAbility = $event"/>
        <button type="button" class="mt-2 btn btn-outline-success" (click)="handleCustomAbilityCreation()">Add Ability</button>
    </div>
</div>