<div class="container bg-info-subtle creature-type-info-container">
    <div class="row">
        <span class="text-info-emphasis">
            <span class="fw-bold">Attribute Modifiers: </span>
            <span>{{ attributeModifiers() }}</span>
        </span>
    </div>
    <div class="row">
        <div class="col">
            <span class="text-info-emphasis">
                <span class="fw-bold">Martial Level: </span>
                <span>{{ baseStatArray?.martialLevel }}</span>
            </span>
        </div>
        <div class="col">
            <span class="text-info-emphasis">
                <span class="fw-bold">Spellcasting Level: </span>
                <span>{{ baseStatArray?.spellcastingLevel }}</span>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <span class="text-info-emphasis">
                <span class="fw-bold">Hardness: </span>
                <span>{{ toStringSigned(baseStatArray?.hardness) }}</span>
            </span>
        </div>
        <div class="col">
            <span class="text-info-emphasis">
                <span class="fw-bold">Dodge: </span>
                <span>{{ toStringSigned(baseStatArray?.dodge) }}</span>
            </span>
        </div>
        <div class="col">
            <span class="text-info-emphasis">
                <span class="fw-bold">Toughness: </span>
                <span>{{ toStringSigned(baseStatArray?.toughness) }}</span>
            </span>
        </div>
        <div class="col">
            <span class="text-info-emphasis">
                <span class="fw-bold">Willpower: </span>
                <span>{{ toStringSigned(baseStatArray?.willpower) }}</span>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <span class="text-info-emphasis">
                <span class="fw-bold">Low Base Damage: </span>
                <span>{{ toStringDiceExpression(baseStatArray?.lowBaseDamage) }}</span>
            </span>
        </div>
        <div class="col">
            <span class="text-info-emphasis">
                <span class="fw-bold">Base Damage: </span>
                <span>{{ toStringDiceExpression(baseStatArray?.baseDamage) }}</span>
            </span>
        </div>
        <div class="col">
            <span class="text-info-emphasis">
                <span class="fw-bold">High Base Damage: </span>
                <span>{{ toStringDiceExpression(baseStatArray?.highBaseDamage) }}</span>
            </span>
        </div>
    </div>
</div>