<div class="previewContainer">
    <h3 class="text-white">{{ npc?.name ? npc?.name : 'name' }}</h3>
    <div class="container pb-2">
        <div class="row">
            <div class = "col">
                <h5 class="text-white">
                    Level {{ npc?.level ? npc?.level : '' }}
                    {{ npc?.alignment ? npc?.alignment : '' }}
                    {{ npc?.creatureSize?.name ? npc?.creatureSize?.name : '' }}
                    {{ npc?.creatureType?.name ? npc?.creatureType?.name : '' }}
                </h5>
            </div>
        </div>
    </div>
    <span class></span>
    <table class="table">
        <thead class="text-center">
            <tr>
                <th>STR</th>
                <th>AGI</th>
                <th>CON</th>
                <th>INT</th>
                <th>SPI</th>
                <th>PER</th>
                <th>CHA</th>
            </tr>
        </thead>
        <tbody class="text-center">
            <tr>
                <td>{{ npc?.str }}</td>
                <td>{{ npc?.agi }}</td>
                <td>{{ npc?.con }}</td>
                <td>{{ npc?.int }}</td>
                <td>{{ npc?.spi }}</td>
                <td>{{ npc?.per }}</td>
                <td>{{ npc?.cha }}</td>
            </tr>
        </tbody>
    </table>
    <div class="container">
        <div class="row gx-3">
            <div class="col-2">
                <p class="text-center fw-bold fs-5 text-white">MP: {{ npc?.mp }}</p>
            </div>
            <div class="col-2">
                <p class="text-center fw-bold fs-5 text-white">AP: {{ npc?.ap }}</p>
            </div>
            <div class="col-2">
                <p class="text-center fw-bold fs-5 text-white">HP: {{ npc?.hp }}</p>
            </div>
            <div class="col-6">
                <p class="fw-bold text-white">Special Movement: {{ flattenNpcSpecialMove() }}</p>
            </div>
        </div>
    </div>
</div>