<div class="container previewContainer">
     <!-- OVERVIEW -->
    <div class="row">
        <div class = "col">
            <h3 class="text-white">{{ npcRepo.$name | async }}</h3>
        </div>
        <div class="col d-flex justify-content-end">
            <h5 class="text-white">Level {{ npcRepo.$level | async }}, {{ npcRepo.$xp | async }} XP</h5>
        </div>
    </div>
    <div class="row mt-2">
        <div class = "col-6">
            <h5 class="text-white">{{ npcRepo.$alignment | async }} {{ npcRepo.$creatureSize | async }} {{ npcRepo.$creatureType | async }}</h5>
        </div>
        <div class = "col-3">
            <h5 class="text-white">
                Martial Level: {{ npcRepo.$martialLevel | async }}
            </h5>
        </div>
        <div class = "col-3">
            <h5 class="text-white">
                Spellcasting Level: {{ npcRepo.$spellLevel | async }}
            </h5>
        </div>
    </div>
    <div class="row mt-3">
        <table class="table">
            <thead class="text-center">
                <tr>
                    <th>STR</th>
                    <th>AGI</th>
                    <th>CON</th>
                    <th>INT</th>
                    <th>SPI</th>
                    <th>PER</th>
                    <th>CHA</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr>
                    <td>{{ npcRepo.$str | async }}</td>
                    <td>{{ npcRepo.$agi | async }}</td>
                    <td>{{ npcRepo.$con | async }}</td>
                    <td>{{ npcRepo.$int | async }}</td>
                    <td>{{ npcRepo.$spi | async }}</td>
                    <td>{{ npcRepo.$per | async }}</td>
                    <td>{{ npcRepo.$cha | async }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- CORE VALUES -->
    <div class="row gx-1">
        <div class="col-2">
            <h5 class="text-center fw-bold text-white">MP: {{ npcRepo.$mp | async }}</h5>
        </div>
        <div class="col-2">
            <h5 class="text-center fw-bold text-white">AP: {{ npcRepo.$ap | async }}</h5>
        </div>
        <div class="col-2">
            <h5 class="text-center fw-bold text-white">HP: {{ npcRepo.$hp | async }}</h5>
        </div>
        <div class="col-6">
            <span class="fw-bold text-white">Special Movement: {{ npcRepo.$specialMovement | async }}</span>
        </div>
    </div>
     <!-- DEFENSES -->
    <div class="row mt-3">
        <table class="table">
            <thead class="text-center">
                <tr>
                    <th>Hardness</th>
                    <th>Dodge</th>
                    <th>Toughness</th>
                    <th>Willpower</th>
                    <th>Shield Blcok</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr>
                    <td>{{ npcRepo.$hardness | async }}</td>
                    <td>{{ npcRepo.$dodge | async }}</td>
                    <td>{{ npcRepo.$toughness | async }}</td>
                    <td>{{ npcRepo.$willpower | async }}</td>
                    <td>{{ npcRepo.$shieldBlock | async }} ({{ npcRepo.$shieldThreshold | async }})</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- RESISTENCES, IMMUNITIES, SHIELD BLOCK -->
    <div class="row mt-3">
        <table class="table">
            <thead class="text-center">
                <tr>
                    <th>Vulnurabilities</th>
                    <th>Damage Resistances</th>
                    <th>Damage Immunities</th>
                    <th>Status Effect Immunities</th>
                </tr>
            </thead>
            <tbody class="text-center ">
                <tr>
                    <td>{{ npcRepo.$damageVulnurabilities }}</td>
                    <td>{{ npcRepo.$damageResistances }}</td>
                    <td>{{ npcRepo.$damageImmunities }}</td>
                    <td>{{ npcRepo.$statusEffectImmunties }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- TRAITS -->
    <div class="row mt-1">
        <table class="table">
            <thead class="text-center">
                <tr>
                    <th colspan="8"><h5 class="fw-bold">Traits</h5></th>
                </tr>
            </thead>
            <tbody class="table-striped">
                @for (trait of npcRepo.$traits | async; track $index) {
                    <tr>
                        <td colspan="1"><span class="fw-bold">{{ trait.name }}</span></td>
                        <td colspan="7">{{ trait.description }}</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- ACTIONS -->
    <div class="row mt-1">
        <table class="table">
            <thead class="text-center">
                <tr>
                    <th colspan="8"><h5 class="fw-bold">Actions</h5></th>
                </tr>
                <tr>
                    <th><h5>Name</h5></th>
                    <th><h5>AP</h5></th>
                    <th colspan="6"><h5>Description</h5></th>
                </tr>
            </thead>
            <tbody class="text-center table-striped">
                @for (ability of npcRepo.$abilities | async; track $index) {
                    <tr>
                        <td><span class="fw-bold">{{ ability.name }}</span></td>
                        <td>{{ ability.apCost }}</td>
                        <td colspan="6">{{ ability.description }}</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- REACTIONS -->
    <div class="row mt-1">
        <table class="table">
            <thead class="text-center">
                <tr>
                    <th colspan="8"><h5 class="fw-bold">Reactions</h5></th>
                </tr>
            </thead>
            <tbody class="text-center table-striped">
                @for (reaction of npcRepo.$reactions | async; track $index) {
                    <tr>
                        <td colspan="1"><span class="fw-bold">{{ reaction.name }}</span></td>
                        <td colspan="7">{{ reaction.description }}</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>