<div class="p-1 bg-body-tertiary d-flex flex-column">
    <div class="d-flex">
        <div class="input-group me-2">
            <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
            <input type="text" class="form-control" aria-label="Name" aria-describedby="inputGroup-sizing-default" (change)="handleNameUpdate($event)">
        </div>
        <span>Ability points Costs: {{ calculatePointsCost() }}</span>
    </div>
    <div class="mt-2 d-flex justify-content-around">
        <div ngbDropdown class="d-inline-block me-2">
            <button type="button" class="btn btn-outline-primary" id="dropdownAbilityType" ngbDropdownToggle>{{ abilityType }}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownAbilityType">
                @for (type of customAbilityOptions.abilityTypes; track $index) {
                    <button type="button" (click)="handleTypeUpdate(type)" ngbDropdownItem>{{ type }}</button>
                }
            </div>
        </div>
        <div ngbDropdown class="d-inline-block me-2">
            <button type="button" class="btn btn-outline-primary" id="dropdownAbilityUsageCost" ngbDropdownToggle>{{ usageCost.apCost }} [AP] ({{ usageCost.pointCost }})</button>
            <div ngbDropdownMenu aria-labelledby="dropdownAbilityUsageCost">
                @for (cost of customAbilityOptions.abilityUsageCosts; track $index) {
                    <button type="button" (click)="handleUsageCostUpdate(cost)" ngbDropdownItem>{{ cost.apCost }} [AP] ({{ cost.pointCost }})</button>
                }
            </div>
        </div>
        <div ngbDropdown class="d-inline-block me-2">
            <button type="button" class="btn btn-outline-primary" id="dropdownAbilityUsageRestriction" ngbDropdownToggle>{{ usageRestriction.abilityUsageRestriction }} ({{ usageRestriction.pointCost }})</button>
            <div ngbDropdownMenu aria-labelledby="dropdownAbilityUsageRestriction">
                @for (restriction of customAbilityOptions.abilityUsageRestriction; track $index) {
                    <button type="button" (click)="handleUsageRestrictionUpdate(restriction)" ngbDropdownItem>{{ restriction.abilityUsageRestriction }} ({{ restriction.pointCost }})</button>
                }
            </div>
        </div>
        <div ngbDropdown class="d-inline-block">
            <button type="button" class="btn btn-outline-primary" id="dropdownAbilityTargets" ngbDropdownToggle>{{ targets.target }} ({{ targets.pointCost }})</button>
            <div ngbDropdownMenu aria-labelledby="dropdownAbilityTargets">
                @for (target of customAbilityOptions.targets; track $index) {
                    <button type="button" (click)="handleTargetsUpdate(target)" ngbDropdownItem>{{ target.target }} ({{ target.pointCost }})</button>
                }
            </div>
        </div>
    </div>
    <div class="mt-2 d-flex justify-content-around">
        <div ngbDropdown class="d-inline-block me-2">
            <button type="button" class="btn btn-outline-primary" id="dropdownAbilityTargetSaves" ngbDropdownToggle>{{ targetSave }}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownAbilitTargetSaves">
                @for (save of customAbilityOptions.targetSave; track $index) {
                    <button type="button" (click)="handleTargetSaveUpdate(save)" ngbDropdownItem>{{ save }}</button>
                }
            </div>
        </div>
        <div ngbDropdown class="d-inline-block me-2">
            <button type="button" class="btn btn-outline-primary" id="dropdownAbilityDtCalculationAttribute" ngbDropdownToggle>{{ dtCalculationAttribute }}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownDtCalculationAttribute">
                @for (attr of customAbilityOptions.dtCalculationAttribute; track $index) {
                    <button type="button" (click)="handleDtCalculationAttributeUpdate(attr)" ngbDropdownItem>{{ attr }}</button>
                }
            </div>
        </div>
        <div ngbDropdown class="d-inline-block me-2">
            <button type="button" class="btn btn-outline-primary" id="dropdownAbilityMainEffect" ngbDropdownToggle>{{ mainEffect.mainEffect.substring(0, 30) }} ({{ mainEffect.pointCost }})</button>
            <div ngbDropdownMenu aria-labelledby="dropdownAbilityMainEffect">
                @for (effect of customAbilityOptions.mainEffects; track $index) {
                    <button type="button" (click)="handleMainEffectUpdate(effect)" ngbDropdownItem>{{ effect.mainEffect.substring(0, 30) }} ({{ effect.pointCost }})</button>
                }
            </div>
        </div>
        <div ngbDropdown class="d-inline-block">
            <button type="button" class="btn btn-outline-primary" id="dropdownAbilityAdditionalEffects" ngbDropdownToggle>Additional Effects</button>
            <div ngbDropdownMenu aria-labelledby="dropdownAdditionalEffects">
                <div class="d-flex justify-content-center flex-column mx-2">
                    @for (additionalEffect of customAbilityOptions.additionalEffects; track $index) {
                        <input type="checkbox" class="btn-check" [id]="'btncheck' + additionalEffect.additionalEffect.replaceAll(' ', '')" autocomplete="off" (change)="handleAdditionalEffectCheckBoxUpdate($event, additionalEffect)">
                        <label class="btn btn-outline-primary my-1" [for]="'btncheck' + additionalEffect.additionalEffect.replaceAll(' ', '')">{{ additionalEffect.additionalEffect.substring(0, 30) }} ({{ additionalEffect.pointCost }})</label>
                    }
                </div>
            </div>
        </div>
    </div>
     <!-- Functionality to pick specific status effect for each Additional and main Effects-->
</div>