<div class="container bg-info-subtle creature-size-info-container">
    <div class="row">
        <span class="fw-bold text-info-emphasis">NPC Creation Points cost: {{ creatureSize?.npcCreationPointsCost }}</span>
    </div>
    <div class="row">
        <span class="fw-bold text-info-emphasis">Strength Bonus: {{ creatureSize?.strBonus }}</span>
    </div>
    <div class="row">
        <span class="fw-bold text-info-emphasis">Dodge Bonus: {{ creatureSize?.dodgeBonus }}</span>
    </div>
    <div class="row">
        <span class="fw-bold text-info-emphasis">HP per Level: {{ creatureSize?.hpPerLevel }}</span>
    </div>
</div>